# Base configuration for Behave tests
BASE_URL=https://www.profitero.com
HEADLESS=true
BROWSER=chrome
IMPLICIT_WAIT=0
EXPLICIT_WAIT=15
PAGELOAD_TIMEOUT=60
SELENIUM_LOG_LEVEL=WARNING
REQUEST_TIMEOUT=20
ARTIFACTS_DIR=artifacts
